---
layout: default
---

<div id="container" class="cols">
  {% for post in site.posts %}
  
    <div class="box" style="background-color:#{{post.color}}">

        <a href="{{post.url | prepend: site.url}}">
         {% if post.img %}
         <img class="feat-image" src={{ "/images/" | prepend: site.url | append: post.img }} alt="{{post.title}}">
         {% endif %}
       </a>

        <div class="container">
          <a href="{{post.url | prepend: site.url}}">
          <h4>{{post.title}}</h4>
          </a>
          
          <a href="{{post.url | prepend: site.url}}">
          <p>{{post.description}}</p>
          </a>

          <div class="action">
            {{ post.date | date: '%Y-%m-%d' }}
          </div>
        </div>
    
    </div>
  {% endfor %}
</div>
